* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: aliceblue;
  font-weight: 700;
  margin-left: 40px;
  text-decoration: none;
  transition: 1s;
}

nav ul li a:hover {
  color: #16a085;
  border-bottom: aliceblue;
}

#banner__section h1 {
  color: aliceblue;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

#banner__section p {
  margin-top: 10px;
  text-align: center;
  color: rgb(201, 209, 216);
}

.brand__button {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #16a085;
  color: aliceblue;
  font-weight: 800;
  outline: 0;
  border: 0;
  margin-top: 20px;
  transition: 1s;
}

.brand__button:hover {
  box-shadow: 10px -2px 5px 10px #16a0843d;
  color: #edf5f3;
  /* border: 3px solid #16a085; */
  cursor: pointer;
}

#social__links {
  margin: 0 auto;
  padding-bottom: 20px;
}

#social__links img {
  margin-left: 20px;
}

/* about us css  */

#about__us {
  background-color: #f5f6f7;
  height: 100vh;
}

.flex__area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half__width {
  width: 40%;
  margin-left: 7%;
  margin-right: 2%;
}

.half__width h2 {
  font-size: 20px;
  color: #16a085;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.half__width p {
  margin-bottom: 10px;
  text-align: justify;
  color: #4d4e50;
}

/* design area css */

#design__area {
  height: 100vh;
  background-color: #fff;
}

#design__area h6 {
  font-size: 15px;
  margin-bottom: 10px;
}

.arrow__image {
  margin-top: 40px;
}

.arrow__image img {
  margin-right: 20px;
}

/* community part css */

#our__community {
  height: 100vh;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow {
  float: right;
}

.community__all__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.community__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community__card h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.community__card p {
  text-align: center;
  width: 50%;
}

/* contact us css */
#contact__us {
  background-image: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact__us h1 {
  color: aliceblue;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.email__input {
  display: flex;
}

.check__icon {
  background-color: #0a5849;
  color: aliceblue;
  font-weight: 800;
  height: 100%;
  width: 50px;
  border: 0;
  outline: 0;
}

#contact__us input {
  padding: 20px 10px;
  outline: 0;
  border: 0;
}

#contact__us input:focus {
  border: 0;
  outline: 0;
}

/* download css */

#download__it {
  height: 100vh;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download__it h2 {
  text-align: center;
  font-size: 20px;
}

#download__it p {
  width: 60%;
  text-align: center;
  color: #4d4e50;
  margin: 20px 0;
}

.download__button {
  margin-right: 30px;
  width: 250px;
  background-color: #16a085;
  color: aliceblue;
  font-weight: 800;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-transform: uppercase;
}

.download__button div {
  display: flex;
  justify-content: space-between;
}

.download__button h5 {
  padding: 20px 5px;
  font-size: 15px;
}

.font__awesome_icon {
  font-size: 20px;
}

.version__name {
  margin-left: 20px;
}

.version__icon {
  background-color: #0a5849;
  color: aliceblue;
  font-weight: 800;
  height: 100%;
  width: 50px;
}

/* footer css */

footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

#footer__items ul {
  list-style-type: none;
}

#footer__items ul li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid #16a085;
  font-weight: 800;
}

#footer__items p {
  margin-top: 10px;
  padding-left: 10px;
  font-weight: 800;
}

/* button css */

.btn {
  margin-top: calc(50% + 25px);
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  stroke: #ec0033;
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: rgb(255, 130, 130);
  background: -moz-linear-gradient(
    left,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 130, 130, 1) 0%,
    rgba(225, 120, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

/*  
        <a href="http://marcel-pirnay.be/" class="btn">
          <svg width="277" height="62">
            <defs>
              <linearGradient id="grad1">
                <stop offset="0%" stop-color="#FF8282" />
                <stop offset="100%" stop-color="#E178ED" />
              </linearGradient>
            </defs>
            <rect
              x="5"
              y="5"
              rx="25"
              fill="none"
              stroke="url(#grad1)"
              width="266"
              height="50"
            ></rect>
          </svg>
          <span>Welcome in my world</span>
        </a>
 */
